 * {
            margin: 0;
            padding: 0;
        }
        
        body {
            color: black;
            font-family:'Poppins', sans-serif;
            background-color: white;
            height: 100%;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        nav{
            display:flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: darkcyan;
            color:white
        }
        nav ul{
            display: flex;
            justify-content: center;
        }

        nav ul li{
            list-style: none;
            margin:0 23px;
        }

        nav ul li a{
            text-decoration: none;
            color: white;
        }

        nav ul li a:hover{
            font-size: 1.04rem;
            color:aqua
        }

        .left{
            font-size: 1.6rem;
        }
        .left a{
            text-decoration: none;
            color: white;
        }
        main{
            flex: 1;
        }

        .firstSection{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .firstSection div{
            width: 40%;
        }
        .leftSection{
            font-size: 2rem;
            display:flex;
            flex-direction: column;
        }
        .rightSection{
            display:flex;
            justify-content: center;
        }
        .rightSection img{
            width: 100%;
        }
        .cyan{
            color: darkcyan;
        }
        .footer{
            background-color: darkcyan;
            color:white;
            display: flex;
            padding: 20px;
            flex-direction: column;
        }

        .first{
            font-size: 1.5rem;
        }


        .list{
            display: flex;
            justify-content: center;
            list-style: none;
        }

        .list li{
            margin: 0 50px;
        }
        
        .list li a{
            padding: 10px 10px;
            text-decoration: none;
            border-radius: 10px;
            border: 2px solid darkcyan;
        }

        .list li a:hover{
            color: white;
            background-color: darkcyan;
        }

        hr{
            margin: 25px 0;
        }